# venv/
# __pycache__/
# *.pyc
# db.sqlite3
# .env
# .DS_Store

# ----------------------

# Python / Django

# ----------------------

**pycache**/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Virtual environment

venv/
env/

# Django stuff

*.log
media/
staticfiles/

# ----------------------

# Environment variables

# ----------------------

.env
.env.*
!.env.example
backend/.env
frontend/.env

# ----------------------

# Node / React

# ----------------------

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files

frontend/build/

# ----------------------

# OS files

# ----------------------

.DS_Store
Thumbs.db

# ----------------------

# VS Code

# ----------------------

.vscode/
