SECRET_KEY=replace-with-a-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOW_ALL_ORIGINS=True
DB_NAME=service_db
DB_USER=root
DB_PASSWORD=replace-with-db-password
DB_HOST=localhost
DB_PORT=3306
